Repository dictation-toolbox/dragonfly, pull requests merged in 2019-10, with the labels that each got.

#145 Don't choke on Canadian English
  dragonfly/engines/backend_natlink/engine.py
Labels: Bug, Dragon NaturallySpeaking

#146 Improve the Natlink engine's language tag matching code
  dragonfly/engines/backend_natlink/engine.py
Labels: Dragon NaturallySpeaking, Enhancement

#147 Allow the passing of window attributes to text engine mimic
  dragonfly/engines/backend_text/__init__.py
  dragonfly/engines/backend_text/engine.py
Labels: Enhancement

#149 Fix text engine bugs
  dragonfly/engines/backend_text/engine.py
Labels: Bug

#148 Fix problems relating to exported and non-exported rules
  dragonfly/engines/backend_natlink/engine.py
  dragonfly/engines/backend_sapi5/engine.py
  dragonfly/engines/backend_sphinx/grammar_wrapper.py
  dragonfly/engines/backend_text/engine.py
  dragonfly/grammar/rule_compound.py
Labels: Bug

#141 Update Kaldi backend to latest version
  documentation/kaldi_engine.txt
  dragonfly/engines/backend_kaldi/audio.py
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/dictation.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/engines/backend_kaldi/kag_version.txt
  setup.py
Labels: Kaldi, New Feature

#150 Make improvements to recognition observers and documentation
  documentation/object_model.txt
  documentation/recobs.txt
  documentation/test_recobs_doctest.txt
  dragonfly/__init__.py
  dragonfly/grammar/recobs.py
  dragonfly/grammar/recobs_callbacks.py
Labels: Documentation, Enhancement

#152 Various optimisations
  dragonfly/grammar/elements_basic.py
  dragonfly/grammar/grammar_base.py
  dragonfly/grammar/rule_base.py
  dragonfly/parser.py
Labels: Enhancement

#153 Retain even the last dictation in Kaldi backend
  dragonfly/engines/backend_kaldi/engine.py
Labels: Bug, Kaldi

#151 Add Natlink retain support
  dragonfly/engines/backend_natlink/__init__.py
  dragonfly/engines/backend_natlink/engine.py
Labels: Enhancement, NatLink

#157 More robust activity checking in kaldi engine
  dragonfly/engines/backend_kaldi/engine.py
Labels: Kaldi
