Repository dictation-toolbox/dragonfly, pull requests merged in 2019-11, with the labels that each got.

#158 Allow using StartApp and BringApp actions with lists/tuples
  dragonfly/actions/action_startapp.py
Labels: Bug

#159 Fix Kaldi support for adding grammars during process_begin() callbacks
  dragonfly/engines/backend_kaldi/engine.py
Labels: Kaldi

#164 Change time.clock() to time.time() in Kaldi debug_timer() func
  dragonfly/engines/backend_kaldi/testing.py
Labels: Bug, Kaldi

#162 Test suite fixes and changes
  .travis.yml
  documentation/test_action_base_doctest.txt
  documentation/tests.txt
  dragonfly/test/suites.py
  setup.py
  test_requirements.txt
Labels: Testing

#165 Fix minor Kaldi bug in AudioStore.save_all() method
  dragonfly/engines/backend_kaldi/audio.py
Labels: Bug, Kaldi

#154 New parser!
  dragonfly/grammar/elements.py
  dragonfly/grammar/elements_compound.py
  dragonfly/language/base/integer_internal.py
  dragonfly/parsing/__init__.py
  dragonfly/parsing/grammar.lark
  dragonfly/parsing/parse.py
  dragonfly/test/suites.py
  dragonfly/test/test_lark_parser.py
  setup.py
Labels: Enhancement

#167 Make changes to the PlaySound action
  documentation/actions.txt
  dragonfly/actions/__init__.py
  dragonfly/actions/action_playsound.py
  dragonfly/actions/actions.py
  dragonfly/os_dependent_mock.py
Labels: Documentation, Enhancement, Linux, MacOS, Windows

#170 Fix missing file error for "grammar.lark"
  MANIFEST.in
  setup.py
Labels: Bug

#122 Win32 keyboard improvements
  dragonfly/actions/action_base_keyboard.py
  dragonfly/actions/action_key.py
  dragonfly/actions/action_text.py
  dragonfly/actions/keyboard/_base.py
  dragonfly/actions/keyboard/_win32.py
  dragonfly/actions/sendinput.py
Labels: Enhancement, Windows

#171 Fix Win32Window.get_matching_windows() for recent Dragon versions
  dragonfly/windows/win32_window.py
Labels: Dragon NaturallySpeaking, Windows

#168 Change/fix bugs with StartApp & BringApp action classes
  dragonfly/actions/action_startapp.py
  dragonfly/windows/base_window.py
  dragonfly/windows/fake_window.py
  dragonfly/windows/win32_window.py
  dragonfly/windows/x11_window.py
Labels: Bug, Enhancement, Windows

#174 Fix empty key action
  dragonfly/actions/action_key.py
Labels: Bug

#172 Fix problems with the RunCommand action
  dragonfly/actions/action_cmd.py
Labels: Bug, Enhancement, NatLink, Windows

#173 Add FocusWindow options to select by index, or filter by passed func
  dragonfly/actions/action_focuswindow.py
Labels: New Feature

#176 Add new 'index' and 'filter_func' arguments to BringApp action
  dragonfly/actions/action_startapp.py
Labels: New Feature

#175 Kaldi updates
  documentation/kaldi_engine.txt
  dragonfly/engines/backend_kaldi/audio.py
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/engines/backend_kaldi/kag_version.txt
  dragonfly/examples/kaldi_module_loader.py
  dragonfly/examples/kaldi_module_loader_plus.py
Labels: Enhancement, Kaldi

#177 Misc engine and test suite fixes
  dragonfly/engines/backend_natlink/engine.py
  dragonfly/engines/backend_sapi5/engine.py
  dragonfly/engines/backend_sphinx/engine.py
  dragonfly/engines/backend_sphinx/grammar_wrapper.py
  dragonfly/test/suites.py
  dragonfly/test/test_contexts.py
Labels: CMU Pocket Sphinx, NatLink, Testing, Windows Speech Recognition

#178 Fix Kaldi ListRef bug not updating list
  dragonfly/engines/backend_kaldi/kag_version.txt
Labels: Bug, Kaldi
