Repository dictation-toolbox/dragonfly, pull requests merged in 2019-09, with the labels that each got.

#133 Add keywords argument handling to AppContext class
  dragonfly/grammar/context.py
  dragonfly/windows/win32_window.py
Labels: Enhancement, Linux, Windows

#134 Fix encoding issues
  dragonfly/actions/action_base.py
  dragonfly/actions/action_paste.py
  dragonfly/actions/action_text.py
  dragonfly/actions/keyboard/_x11_base.py
  dragonfly/engines/backend_natlink/dictation.py
  dragonfly/engines/backend_natlink/dictation_format.py
  dragonfly/engines/backend_natlink/engine.py
  dragonfly/engines/backend_text/engine.py
  dragonfly/grammar/elements_compound.py
  dragonfly/grammar/state.py
  dragonfly/parser.py
  dragonfly/rpc/security.py
  dragonfly/test/suites.py
  dragonfly/test/test_actions.py
  dragonfly/test/test_dictation.py
  dragonfly/test/test_engine_text.py
  dragonfly/test/test_engine_text_dictation.py
  dragonfly/windows/x11_window.py
Labels: Bug

#135 Kaldi Updates
  documentation/kaldi_engine.txt
  dragonfly/__init__.py
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/test/test_engine_kaldi.py
  setup.py
Labels: Kaldi

#140 Implement mouse and monitor functionality for X11 & Mac OS
  documentation/monitor_classes.txt
  documentation/windows.txt
  dragonfly/actions/__init__.py
  dragonfly/actions/action_mouse.py
  dragonfly/actions/actions.py
  dragonfly/actions/mouse/__init__.py
  dragonfly/actions/mouse/_base.py
  dragonfly/actions/mouse/_pynput.py
  dragonfly/actions/mouse/_win32.py
  dragonfly/os_dependent_mock.py
  dragonfly/windows/__init__.py
  dragonfly/windows/base_monitor.py
  dragonfly/windows/base_window.py
  dragonfly/windows/darwin_monitor.py
  dragonfly/windows/monitor.py
  dragonfly/windows/win32_monitor.py
  dragonfly/windows/win32_window.py
  dragonfly/windows/x11_monitor.py
  setup.py
Labels: Enhancement, Linux, MacOS
