Repository dictation-toolbox/dragonfly, pull requests merged in 2019-06, with the labels that each got.

#89 Add FuncContext class that determines context activity by callable arg
  dragonfly/__init__.py
  dragonfly/grammar/context.py
Labels: New Feature

#92 Make local development documentation use read_the_docs theme
  CONTRIBUTING.rst
  documentation/conf.py
  documentation/requirements.txt
Labels: Documentation

#93 preserve mic state during natlink engine speak()
  dragonfly/engines/backend_natlink/engine.py
Labels: NatLink

#91 SAPI5 engine fixes
  documentation/installation.txt
  dragonfly/engines/backend_sapi5/compiler.py
  dragonfly/engines/backend_sapi5/engine.py
  dragonfly/examples/wsr_module_loader_plus.py
Labels: Windows, Windows Speech Recognition

#78 Kaldi backend (native on Linux & Windows)
  README.rst
  documentation/engines.txt
  documentation/kaldi_engine.txt
  dragonfly/engines/__init__.py
  dragonfly/engines/backend_kaldi/__init__.py
  dragonfly/engines/backend_kaldi/audio.py
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/dictation.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/engines/backend_kaldi/recobs.py
  dragonfly/engines/backend_kaldi/testing.py
  dragonfly/examples/kaldi_module_loader.py
  dragonfly/examples/kaldi_module_loader_plus.py
  dragonfly/test/suites.py
  dragonfly/test/test_engine_kaldi.py
  setup.py
Labels: New Engine, New Feature, WIP

#95 Improve Kaldi documentation, and add an example demo
  documentation/kaldi_engine.txt
  dragonfly/examples/kaldi_demo.py
Labels: Documentation, Kaldi
