Repository dictation-toolbox/dragonfly, pull requests merged in 2019-08, with the labels that each got.

#106 Fix Win32Window.set_foreground() failures
  dragonfly/windows/win32_window.py
Labels: Windows

#108 Update Kaldi backend to 0.6
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/log.py
  setup.py
Labels: Kaldi

#112 Improve Kaldi documentation
  documentation/kaldi_engine.txt
Labels: Documentation, Kaldi

#111 Custom words formatting
  dragonfly/engines/backend_natlink/dictation_format.py
Labels: Dragon NaturallySpeaking, NatLink

#118 Fix some logging issues
  dragonfly/__init__.py
  dragonfly/log.py
Labels: Bug

#130 KaldiAG v0.7.1: Partial Decoding, Parallel Compilation, & Various Optimizations for 15-50% Speedup
  documentation/kaldi_engine.txt
  dragonfly/engines/backend_kaldi/audio.py
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/examples/kaldi_module_loader.py
  dragonfly/examples/kaldi_module_loader_plus.py
  dragonfly/test/test_engine_kaldi.py
  setup.py
Labels: Enhancement, Kaldi
