Repository dictation-toolbox/dragonfly, pull requests merged in 2019-07, with the labels that each got.

#90 Add RPC methods for speech state & recognition history
  dragonfly/rpc/methods.py
  dragonfly/test/test_rpc.py
Labels: Json-RPC

#97 Add xdotool & libxdo keyboard implementations
  README.rst
  documentation/installation.txt
  dragonfly/actions/_test_x11_text_key.py
  dragonfly/actions/action_key.py
  dragonfly/actions/action_text.py
  dragonfly/actions/keyboard/__init__.py
  dragonfly/actions/keyboard/_x11_base.py
  dragonfly/actions/keyboard/_x11_libxdo.py
  dragonfly/actions/keyboard/_x11_xdotool.py
  setup.py
Labels: Linux

#101 Kaldi v0.5.0: User Lexicon! Compilation Optimizations! Better Model!
  documentation/kaldi_engine.txt
  dragonfly/engines/backend_kaldi/audio.py
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/engine.py
  setup.py
Labels: Documentation, Enhancement, Kaldi

#105 Update kaldi-active-grammar URL
  documentation/kaldi_engine.txt
Labels: Documentation, Kaldi

#107 Kaldi minor fixes
  documentation/kaldi_engine.txt
  dragonfly/examples/kaldi_module_loader.py
  dragonfly/examples/kaldi_module_loader_plus.py
Labels: Enhancement, Kaldi
