Repository dictation-toolbox/dragonfly, pull requests merged in 2020-07, with the labels that each got.

#261 Fix bug where some words cannot be used in grammars
  dragonfly/engines/backend_natlink/engine.py
Labels: Bug, Dragon NaturallySpeaking

#262 Add BasicRule class for defining commands using elements directly
  documentation/rules.txt
  dragonfly/__init__.py
  dragonfly/grammar/rule_basic.py
Labels: Enhancement

#263 Fix CLI error reporting and file pattern matching issues
  dragonfly/__main__.py
Labels: Bug

#264 Change the Windows Clipboard class to poll for clipboard access
  documentation/clipboard.txt
  dragonfly/windows/clipboard.py
Labels: Bug, Windows

#266 Fix bug causing Win32Window.set_foreground() to fail sometimes
  dragonfly/windows/win32_window.py
Labels: Bug, Windows

#267 Revert "Fix bug where some words cannot be used in grammars"
  dragonfly/engines/backend_natlink/engine.py
Labels: Bug, Dragon NaturallySpeaking

#268 Add partial fix for dictation-related DNS recognition failures
  documentation/faq.txt
  dragonfly/engines/backend_natlink/engine.py
Labels: Bug, Documentation, Dragon NaturallySpeaking

#258 Kaldi update
  documentation/grammar.txt
  documentation/kaldi_engine.txt
  dragonfly/engines/backend_kaldi/audio.py
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/engines/backend_kaldi/kag_version.txt
  dragonfly/windows/base_window.py
Labels: Kaldi, WIP

#271 Optimize Kaldi & Sphinx window attribute checks on phrase start
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/engines/backend_sphinx/engine.py
  dragonfly/engines/backend_sphinx/grammar_wrapper.py
Labels: CMU Pocket Sphinx, Kaldi, MacOS

#273 issue #272 - Remove dead link to Hawkeye Parker's fork. Add link to...
  documentation/related_resources.txt
Labels: Documentation
