Repository dictation-toolbox/dragonfly, pull requests merged in 2020-04, with the labels that each got.

#230 Monitor changes
  dragonfly/actions/action_mouse.py
  dragonfly/windows/base_monitor.py
  dragonfly/windows/darwin_monitor.py
  dragonfly/windows/win32_monitor.py
  dragonfly/windows/x11_monitor.py
Labels: Bug, Enhancement, Linux/X11, MacOS, Windows

#229 Support edge case of X11 backend when executable isn't valid
  dragonfly/grammar/context.py
  dragonfly/windows/x11_window.py
Labels: Bug, Linux/X11

#231 Add get_current_engine() function that doesn't initialize an engine
  documentation/faq.txt
  dragonfly/__init__.py
  dragonfly/engines/__init__.py
Labels: Documentation, Enhancement

#232 Add threading fix and related method to the NatlinkEngine class
  documentation/faq.txt
  documentation/rpc.txt
  dragonfly/actions/action_cmd.py
  dragonfly/engines/backend_natlink/engine.py
  dragonfly/rpc/server.py
Labels: Documentation, External Bug, NatLink

#234 Change SAPI5 engine backend to use the recognizer language
  dragonfly/engines/backend_natlink/engine.py
  dragonfly/engines/backend_sapi5/engine.py
  dragonfly/engines/base/engine.py
Labels: Windows, Windows Speech Recognition

#235 Add Kaldi temporary mitigation for keyboard action processing bug (#182)
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/engine.py
Labels: Bug, Kaldi, Windows

#237 Fix various encoding bugs and related issues
  dragonfly/actions/action_base.py
  dragonfly/actions/action_function.py
  dragonfly/actions/action_key.py
  dragonfly/loader.py
  dragonfly/test/test_actions.py
Labels: Bug

#243 Change the XdotoolKeyboard class to use '--delay 0' for typing keys
  dragonfly/actions/keyboard/_x11_xdotool.py
Labels: Linux/X11

#241 Improve Dragonfly's documentation for spoken language support
  documentation/language.txt
Labels: Documentation
