Repository dictation-toolbox/dragonfly, pull requests merged in 2020-09, with the labels that each got.

#288 Fix Windows bug where the printscreen key cannot be pressed
  dragonfly/actions/sendinput.py
Labels: Bug, Windows

#285 Documentation changes
  README.rst
  documentation/actions.txt
  documentation/base_engine.txt
  documentation/engines.txt
  documentation/faq.txt
  documentation/index.txt
  documentation/installation.txt
  documentation/kaldi_engine.txt
  documentation/miscellaneous.txt
  documentation/natlink_engine.txt
  documentation/sapi5_engine.txt
  documentation/sphinx_engine.txt
  documentation/text_engine.txt
  dragonfly/actions/action_mimic.py
  dragonfly/actions/action_playback.py
  dragonfly/engines/__init__.py
  dragonfly/engines/backend_natlink/__init__.py
  dragonfly/engines/backend_natlink/engine.py
  dragonfly/engines/backend_sapi5/__init__.py
  dragonfly/engines/backend_sapi5/engine.py
  dragonfly/engines/backend_text/__init__.py
  dragonfly/engines/backend_text/engine.py
  setup.py
Labels: Documentation

#290 Update Kaldi backend
  dragonfly/engines/backend_kaldi/compiler.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/engines/backend_kaldi/kag_version.txt
Labels: Bug, Enhancement, Kaldi

#292 Improve debug logging for FuncContext
  dragonfly/grammar/context.py
Labels: Enhancement

#295 Fix two bugs with the X11Monitor class
  dragonfly/windows/x11_monitor.py
Labels: Bug, Linux/X11

#294 Kaldi updates
  documentation/kaldi_engine.txt
  dragonfly/engines/backend_kaldi/audio.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/test/suites.py
Labels: Bug, Enhancement, Kaldi

#297 Use new Element URL (Element replaced Riot)
  README.rst
  documentation/faq.txt
Labels: Meta

#298 Change SAPI5 WinEvent hook to process window title changes too
  dragonfly/engines/backend_sapi5/engine.py
Labels: Windows, Windows Speech Recognition

#303 Add validation and type checks into the ContextAction class
  dragonfly/actions/action_context.py
Labels: Enhancement

#299 Grammar sub-package changes
  documentation/test_grammar_list_doctest.txt
  dragonfly/grammar/elements_basic.py
  dragonfly/grammar/grammar_base.py
  dragonfly/grammar/rule_base.py
Labels: Documentation, Enhancement, Testing
