Repository dictation-toolbox/dragonfly, pull requests merged in 2020-03, with the labels that each got.

#219 Add __str__ method to essential action classes for visualization
  dragonfly/actions/action_base.py
  dragonfly/actions/action_function.py
  dragonfly/actions/action_key.py
  dragonfly/actions/action_mouse.py
  dragonfly/actions/action_text.py
  dragonfly/test/test_actions.py
Labels: Enhancement

#221 Fork sub-processes used by the X11 Keyboard and Window classes
  dragonfly/actions/keyboard/_x11_xdotool.py
  dragonfly/windows/x11_window.py
Labels: Bug, Linux

#218 Kaldi backend updates
  dragonfly/engines/backend_kaldi/audio.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/engines/backend_kaldi/kag_version.txt
  setup.py
Labels: Kaldi, MacOS

#223 Verify that natlink is on the Python path in is_engine_available()
  dragonfly/engines/backend_natlink/__init__.py
Labels: Bug, NatLink

#224 Fix some Python 2.7 encoding bugs
  dragonfly/__main__.py
  dragonfly/actions/action_base.py
  dragonfly/examples/dfly-loader-natlink.py
  dragonfly/examples/dfly-loader-wsr.py
  dragonfly/examples/kaldi_module_loader_plus.py
  dragonfly/examples/sphinx_module_loader.py
  dragonfly/examples/wsr_module_loader_plus.py
Labels: Bug, Compatibility, External Bug

#212 Documentation improvements
  README.rst
  documentation/actions.txt
  documentation/changelog.txt
  documentation/faq.txt
  documentation/features.txt
  documentation/grammar.txt
  documentation/index.txt
  documentation/installation.txt
  documentation/language.txt
  documentation/object_model.txt
  documentation/related_resources.txt
  documentation/sphinx_engine.txt
  dragonfly/grammar/elements_basic.py
Labels: Documentation

#225 Make the Dictation element's 'format' argument do something useful
  dragonfly/grammar/elements_basic.py
Labels: Enhancement

#227 Reword Natlink warning message shown when Dragon isn't running
  dragonfly/engines/backend_natlink/__init__.py
Labels: Dragon NaturallySpeaking, NatLink
