Repository dictation-toolbox/dragonfly, pull requests merged in 2020-10, with the labels that each got.

#300 Allow changing rules' and grammars' contexts after instantiation
  dragonfly/grammar/grammar_base.py
  dragonfly/grammar/rule_base.py
Labels: Documentation, Enhancement

#305 Set DPI awareness automatically when dragonfly is imported
  documentation/faq.txt
  dragonfly/windows/win32_monitor.py
Labels: Windows

#308 Test suite changes
  dragonfly/test/rule_testcase.py
  dragonfly/test/test_contexts.py
  dragonfly/test/test_engine_kaldi.py
  dragonfly/test/test_engine_natlink.py
  dragonfly/test/test_engine_text.py
  dragonfly/test/test_rpc.py
  dragonfly/test/test_timer.py
Labels: Kaldi, Testing

#302 Minor Kaldi updates
  dragonfly/engines/backend_kaldi/audio.py
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/test/test_engine_kaldi.py
Labels: Bug, Kaldi
