Repository dictation-toolbox/dragonfly, pull requests merged in 2020-05, with the labels that each got.

#236 Make Dictation-only rules work with the Sphinx engine again
  dragonfly/engines/backend_sphinx/engine.py
Labels: CMU Pocket Sphinx, Enhancement

#248 Expose internal engine results objects via grammar callbacks
  documentation/grammar.txt
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/engines/backend_natlink/engine.py
  dragonfly/engines/backend_natlink/recobs.py
  dragonfly/engines/backend_sapi5/engine.py
  dragonfly/engines/backend_sapi5/recobs.py
  dragonfly/engines/backend_sphinx/engine.py
  dragonfly/engines/backend_sphinx/grammar_wrapper.py
  dragonfly/engines/backend_text/engine.py
  dragonfly/engines/base/__init__.py
  dragonfly/engines/base/grammar_wrapper.py
  dragonfly/engines/base/recobs.py
  dragonfly/grammar/recobs.py
  dragonfly/grammar/recobs_callbacks.py
Labels: NatLink, New Feature, Windows Speech Recognition

#250 Use Dragonfly's Win32 Clipboard class on Windows
  dragonfly/__init__.py
  dragonfly/test/suites.py
  dragonfly/test/test_clipboard.py
  dragonfly/windows/clipboard.py
Labels: Bug, Testing, Windows

#251 Add support for quoted words in rules
  documentation/elements.txt
  documentation/test_grammar_elements_basic_doctest.txt
  dragonfly/engines/backend_kaldi/engine.py
  dragonfly/engines/backend_natlink/compiler.py
  dragonfly/engines/backend_natlink/engine.py
  dragonfly/engines/backend_sapi5/engine.py
  dragonfly/engines/backend_sphinx/engine.py
  dragonfly/engines/backend_text/engine.py
  dragonfly/engines/base/engine.py
  dragonfly/grammar/elements_basic.py
  dragonfly/grammar/state.py
Labels: Dragon NaturallySpeaking, Enhancement, NatLink

#253 Include missing files in sdist
  MANIFEST.in
Labels: Meta

#256 Fix bug in the NatlinkEngine.disconnect() method
  dragonfly/engines/backend_natlink/engine.py
Labels: Bug, NatLink
